# Database connection string
DATABASE_URL=mongodb://127.0.0.1/your-database-name

# Or use a PG connection string
#DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

## Storage Supabase

S3_BUCKET=the-site-data
S3_ACCESS_KEY_ID=2f49efed57f81df4e6e8c9efc7c0b4
S3_SECRET_ACCESS_KEY=584e0689cb779efe1c75744a70313522744b3f8c6416f545995dda79e1234
S3_REGION=ap-south-1
S3_ENDPOINT=https://onomsidnabase.co/storage/v1/s3